<ul class="menu menu-compact bg-gradient-to-b mt-5 from-cyan-400 to-zinc-300 text-black w-56 p-2 rounded-box font-bold " >
  <div class="menu-title text-lg ">
    <svg class="h-7 w-7 inline" id="Layer_1"  viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="m7.5 13a4.5 4.5 0 1 1 4.5-4.5 4.505 4.505 0 0 1 -4.5 4.5zm0-7a2.5 2.5 0 1 0 2.5 2.5 2.5 2.5 0 0 0 -2.5-2.5zm7.5 14a5.006 5.006 0 0 0 -5-5h-5a5.006 5.006 0 0 0 -5 5v4h2v-4a3 3 0 0 1 3-3h5a3 3 0 0 1 3 3v4h2zm2.5-11a4.5 4.5 0 1 1 4.5-4.5 4.505 4.505 0 0 1 -4.5 4.5zm0-7a2.5 2.5 0 1 0 2.5 2.5 2.5 2.5 0 0 0 -2.5-2.5zm6.5 14a5.006 5.006 0 0 0 -5-5h-4v2h4a3 3 0 0 1 3 3v4h2z"/></svg>
   Seguimiento
  </div>
  <div class="pl-5">
    <li><a>Etapa</a></li>
    <li><a routerLink="opportunity-list">Oportunidad</a></li>
    <li><a>Equipo Comercial</a></li>
    <li><a>Acesor Comercial</a></li>
  </div>


</ul>
