<div class="grid justify-center mt-10 gap-2">
 <div class="card card-compact bg-base-100 shadow-2xl shadow-black">
   <div class="card-body items-center text-center">
    <h2 class="card-title font-bold uppercase justify-center">Crud<span class="text-primary">equipo comercial</span></h2>
    <div class="grid ">
    <label>Nombre del equipo:</label>
    <input class="input input-primary m-3" type="text" placeholder="ejemplo: ventas directas"
    [(ngModel)]="currentPerson.name">

    <label>Fecha de creación:</label>
      <input class="input input-primary m-3"  type="date" name="creación"  [(ngModel)]="currentPerson.create"/>

    <label>Fecha de actualización:</label>
      <input class="input input-primary m-3" type="date" name="actualización" [(ngModel)]="currentPerson.update"/>

    <div class="form-control">
      <label class="label cursor-pointer">
        <span class="label-text">Activo</span>
        <input type="checkbox" class="toggle toggle-primary" checked [(ngModel)]="currentPerson.enable" />
      </label>
    </div>
    </div>
    <div class="card-actions">
      <button class="btn  btn-secondary btn-sm">Cancelar</button>
      <button class="btn  btn-primary btn-sm" (click)="save()" >Guardar</button>
     </div>
   </div>
 </div>
</div>

