<div class="navbar shadow-xl mt-4">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl m-1">CRM</a>
  </div>
  <div class="flex-none gap-2">

    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class=" rounded-xl">
          <img src="https://placeimg.com/80/80/people" />
        </div>
      </label>
      <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="grid justify-center">
  <div class="card card-compact shadow-2xl shadow-black m-7">

    <div class="card-body">
      <h2 class="card-title justify-center font-bold uppercase" >Crud <span class="text text-primary">Oportunidad</span></h2>
      <div class="grid">
        <label class="text text-sm" for="">Monto:</label>
        <input class="input input-primary mt-1 mb-1" type="text" placeholder="Indicar el monto estimado..." [(ngModel)] = "currentOpportunity.monto">
        <div class="form-control grid">
          <label class="label cursor-pointer justify-start">
            <span class="label-text mr-2 ">Activo</span>
            <input type="checkbox" class="toggle" checked />
          </label>
        </div>
      </div>
      <div class="card-actions justify-end">

        <button class="btn btn-primary btn-sm" (click)="save()" >Guardar</button>
        <button class="btn btn-secondary btn-sm">Cancelar</button>
      </div>
    </div>
  </div>
</div>


