<app-opportunity-toolbar [item]="currentOpportunity.descripcion"></app-opportunity-toolbar>

<div class="grid justify-center">
  <div class="card card-compact shadow-2xl shadow-black m-7">

    <div class="card-body">
      <h2 class="card-title justify-center font-bold uppercase" >Crud <span class="text text-primary">Oportunidad</span></h2>
      <div class="grid">
        <label class="text text-sm" for="">Descripción:</label>
        <input class="input input-primary mt-1 mb-1" type="text" placeholder="Indicar la descripción..." [(ngModel)]="currentOpportunity.descripcion">
        <label class="text text-sm" for="">Monto:</label>
        <input class="input input-primary mt-1 mb-1" type="text" placeholder="Indicar el monto estimado..." [(ngModel)]="currentOpportunity.monto">
        <label class="text text-sm" for="">Prospecto ID:</label>
        <input class="input input-primary mt-1 mb-1" type="text" placeholder="Indicar ID del prospecto..." [(ngModel)]="currentOpportunity.prospectoId">
        <label class="text text-sm" for="">Etapa ID:</label>
        <input class="input input-primary mt-1 mb-1" type="text" placeholder="Indicar el ID de la etapa..." [(ngModel)]="currentOpportunity.etapaId">
        <label class="text text-sm" for="">Vendedor ID:</label>
        <input class="input input-primary mt-1 mb-1" type="text" placeholder="Indicar el ID del vendedor..." [(ngModel)]="currentOpportunity.vendedorId">
        <label class="text text-sm" for="">Campaña ID:</label>
        <input class="input input-primary mt-1 mb-1" type="text" placeholder="Indicar el ID de la campaña.." [(ngModel)]="currentOpportunity.campaniaId">

        <div class="form-control grid">
          <label class="label cursor-pointer justify-start">
            <span class="label-text mr-2 ">Activo</span>
            <input type="checkbox" class="toggle" checked="" [(ngModel)]="currentOpportunity.enable" />
          </label>
        </div>
        <app-phase-combobox [idInput]="currentOpportunity.phaseId" (currentPhaseId)="currentOpportunity.phaseId = $event"></app-phase-combobox>


      </div>
      <div class="card-actions justify-end">

        <button class="btn btn-primary btn-sm" (click)="save()" >Guardar</button>
        <button class="btn btn-secondary btn-sm">Cancelar</button>
      </div>
    </div>
  </div>
</div>


